.Arhiv {
    display: flex;
    flex-direction: row;
}

.ArxivContainersBoxs {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-top: 1vw;
    justify-content: flex-start;

}

.ArxiveBox {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -.0vw;
}

aside ul {
    list-style: none;
}

aside ul li a {
    text-decoration: none;
    list-style: none;
}

.ArxiveBoxs {
    width: 80%;
    border: 1px solid #ff6400;
    border-radius: 5px;
}