/* NotificationBar.css */
.notification-bar {
    background-color: #ffcc00;
    /* Yellow background */
    color: #000;
    /* Black text */
    padding: 10px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 30%;
    z-index: 1000;
    margin-top: 4vw;
    right: -1vw;
    border-radius: 10vw;
}

.notification-bar p {
    margin: 0;
}