.TaxrirTitle {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TaxrirTitle h1{
    width: 10vw;
    text-align: center;
    font-family: sans-serif;
    margin: 1vw 0;
    border-bottom: .2vw solid #ff6400; 
}

.JournalContentContainer {
    display: flex;
}

.taxrirCon {
    display: flex;
    height: 100%;
}


.taxrirConImg {
    width: 8vw;
    height: 8vw;
}

.taxrirConImg img {
    width: 8vw;
    height: 8vw;

}

.taxrirRight ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: sans-serif;
}